body {
    font-family: Arial;
    padding: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
}

.bot {
    width: 100%;
    height: 400px;
}

.img-view {
    width: 100%;
    height: 200px;
}

.img-view img {
    width: 100%;
    height: 400px;
}

.bot-text {
    text-align: center;
    margin-top: -25px;
    color: #f2f2f2;
}

.bot-text h1 {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color: white;
    text-decoration: underline overline solid rgb(160, 156, 156);
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    padding: 9px 15px;
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
}

.topnav :hover {
    color: rgb(9, 139, 27);
}

.topnav img {
    width: 100px;
    height: 38px;
}

.bot-text a {
    color: white;
    font-size: 16px;
    border: 1px solid rgb(212, 208, 208);
    padding: 8px 16px;
}

.bot-text :hover {
    color: rgb(177, 174, 174);
    ;
}

.row {
    padding: 0px;
    text-align: center;
    background: white;
    width: 100%;
    height: 200px;
}

.leftcolumn {
    padding: 30px 10px;
    display: flex;
    justify-content: center;
}

.leftcolumn h2 {
    text-transform: uppercase;
    text-align: left;
}

.leftcolumn p {
    color: rgb(31, 37, 37);
    text-align: left;
}


/*-------*/

.leftcolumn1 {
    background-color: rgb(207, 211, 211);
    padding: 0px 0px;
    display: flex;
    height: 600px;
    width: 100%;
}

.leftcolumn1 img {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: left;
}

.leftcolumn1 h2 {
    text-align: left;
    padding-top: 0px;
    margin-left: 0%;
}

.leftcolumn1 p {
    text-align: left;
    padding-top: 0px;
    margin-left: 0%;
}

.card-info {
    margin-left: -10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-text h2 {
    text-transform: uppercase;
    padding: 15%;
    margin-top: -25px;
    margin-left: 50px;
}

.card-text i {
    display: flex;
    float: left;
    margin-left: -40px;
    margin-top: 5%;
    color: rgb(13, 172, 98);
}

.card-text p {
    padding: 25px;
    margin-top: -23%;
    margin-left: 23%;
}


/*-------------------*/

.leftcolumn2 {
    padding: 50px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
}

.card-skill {
    width: 50%;
    height: 70%;
    display: grid;
    text-align: left;
    font-size: 107%;
    margin-left: 5%;
}

.card-scale {
    width: 35%;
    height: 90px;
    margin-top: 2%;
    margin-left: 5%;
}

.card-skill h2 {
    text-transform: uppercase;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
}

.card-skill p {
    color: #333;
    display: block;
    text-align: left;
}

.card-skill a {
    text-decoration: none;
    color: rgb(13, 172, 98);
    font-size: 15px;
    border: 1px solid rgb(13, 172, 98);
    padding: 6px 8%;
    width: 32%;
    text-align: center;
    margin-top: 5%;
}

.card-scale p {
    font-weight: bold;
    text-align: left;
    text-transform: capitalize;
}

.card-scale meter {
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: left;
}

meter::-webkit-meter-optimum-value {
    background: rgb(13, 172, 98);
}

meter::-webkit-meter-bar {
    background: #eeeef3;
}

meter {
    width: 100px;
}


/*--------------*/

.leftcolumn3 {
    background-color: rgb(207, 211, 211);
    padding: 3%;
    margin-top: 5%;
    display: flex;
}

.leftcolumn3 h2 {
    text-transform: uppercase;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
}

.leftcolumn3 p {
    display: block;
    padding: 1%;
    text-transform: capitalize;
    padding-bottom: 1%;
}

.leftcolumn3 a {
    text-decoration: none;
    color: rgb(13, 172, 98);
    font-size: 15px;
    border: 2px solid rgb(13, 172, 98);
    padding: 6px 5%;
    width: 18%;
    text-align: center;
    margin-top: 5%;
    text-transform: capitalize;
}


/*----------------*/

.leftcolumn4 {
    display: flex;
    padding: 50px;
    margin-left: 7%;
    margin-right: 7%;
    font-size: 80%;
}

.my-edu {
    display: grid;
    width: 50%;
    height: 70%;
    text-align: left;
}

.edu-data {
    display: grid;
    text-align: left;
    width: 50%;
    height: 70%;
    padding-top: 4.5%;
    padding-left: 5%;
}

.leftcolumn4 h2 {
    text-transform: uppercase;
}

.edu-data button {
    color: honeydew;
    font-size: 15px;
    background-color: rgb(13, 172, 98);
}


/*--------------*/

.leftcolumn5 {
    background-color: rgb(207, 211, 211);
    display: flex;
    padding: 2%;
}

.leftcolumn5 h3 {
    text-transform: uppercase;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
}

.leftcolumn5 p {
    display: block;
    padding: 1%;
    text-transform: capitalize;
    padding-bottom: 1%;
}


/*------------*/

.leftcolumn6 {
    display: block;
    width: 90%;
    padding: 3%;
}

.photos {
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0%;
    padding-bottom: 5%;
}

.photo img {
    width: 95%;
    height: 140px;
    padding: 2%;
    opacity: 1;
}

.photo img:hover {
    background-color: hsla(120, 100%, 50%, 0.3);
    opacity: 0.6;
}


/*----*/

.photo-title h2 {
    padding-bottom: 0%;
    text-transform: uppercase;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
}

.photo-title p {
    display: block;
    padding: 0%;
    text-transform: capitalize;
    padding-bottom: 0%;
}


/*-------*/

.leftcolumn7 {
    background-color: rgb(48, 46, 46);
    display: flex;
    color: #d9d9dd;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    height: 550px;
}

.contact-me {
    text-align: left;
    display: block;
    font-size: 12px;
    padding-right: 3%;
}

.contact-me h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.type-data {
    text-align: left;
    padding-top: 3%;
    padding-left: 0%;
    padding-right: 0%;
}

.type-data input {
    width: 180px;
    background-color: rgb(75, 73, 73);
    border: none;
}

.type-data p {
    text-transform: capitalize;
    margin-bottom: -4%;
}

.type-data a {
    text-decoration: none;
    border: 1px solid rgb(53, 52, 52);
    text-align: center;
    text-transform: capitalize;
    padding: 14px 14px;
    color: #d8d8dd;
    background-color: rgb(32, 32, 32);
}

.leftcolumn8 {
    background-color: rgb(20, 20, 20);
    display: grid;
    color: #a8a8aa;
    font-size: 15px;
    padding-top: 1%;
    padding-bottom: 3%;
}

.media :hover {
    color: rgb(16, 82, 10);
}

.media i {
    padding: 5px;
    width: 20px;
}
